{% extends "template.html" %}
{% block title %}<title>FeriaVirtual - Listar Productos</title>{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listar.css' %}">

<div class="container">
	<h1 class="titulo">Listado de Productos</h1>

	<form action="{% url 'createProducto' %}" class="btn-container">
	    <input type="submit" value="Crear Producto" class="btn" />
	</form>

	<table class="tabla">
	<tr>
	  <th>Feria</th>
	  <th>Feriante</th>
	  <th>Nombre</th>
	  <th>Precio</th>
	  <th>Descripcion</th>
	  <th>Acciones</th>
	</tr>

	{% for producto in productos %}
		<tr>
			<td>{{ producto.feria }}</td>
			<td>{{ producto.feriante }}</td>
			<td>{{ producto.nombre_producto }}</td>
			<td>{{ producto.precio_producto }}</td>
			<td>{{ producto.descripcion_producto }}</td>
			<td class="bloque-iconos">
				<a href="/productos/modificar/{{ producto.id_producto }}" class="icontainer" title="Modificar">
					<i class="fa fa-pencil-square-o icon pen" aria-hidden="true"></i>
				</a>
				<a  class="icontainer" title="Eliminar" href="/productos/eliminar/{{ producto.id_producto }}">
					<i class="fa fa-trash icon trash" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}