.alert {
  padding           : 20px;
  background-color  : #ffeb9c;
  color             : #9c5700;
}
.alert .closebtn{
  color             : #9c5700;
}
.alert-danger .closebtn{
  color             : #9c0006;
}
.closebtn {
  margin-left       : 15px;
  font-weight       : bold;
  float             : right;
  font-size         : 22px;
  line-height       : 20px;
  cursor            : pointer;
  transition        : 0.3s;
}
.closebtn:hover {
  color             : black;
  transform         : scale(1.5);
}
.alert-danger{
  background-color  : #ffc7ce;
  color             : #9c0006;
}