body{
	background-image 		: url(../img/feria.png);
	background-position   	: center;
  	background-repeat     	: no-repeat;
  	background-attachment 	: fixed;
  	background-size 		: 105%;
}
.container{
    margin 					: 5% 20%;
}
.title{
	margin: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.title h1{
	font-weight: bold;
	padding: 20px;
	margin: 0;
}
.content p{
	margin: 0;
	padding: 20px;
}
.footer{
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}