{% extends "template.html" %}
{% block title %}<title>FeriaVirtual - Listar Ferias</title>{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listar.css' %}">

<div class="container">
	<h1 class="titulo">Listado de Ferias</h1>

	<form action="{% url 'createFeria' %}" class="btn-container">
	    <input type="submit" value="Crear Feria" class="btn" />
	</form>

	<table class="tabla">
	<tr>
	  <th>Nombre</th>
	  <th>Comuna</th>
	  <th>Calle Inicio</th>
	  <th>Calle Final</th>
	  <th>Horario Inicio</th>
	  <th>Horario Fin</th>
	  <th>Días</th>
	  <th>Acciones</th>
	</tr>

	{% for feria in ferias %}
		<tr>
			<td>{{ feria.nombre_feria }}</td>
			<td>{{ feria.comuna_feria }}</td>
			<td>{{ feria.inicio_feria }}</td>
			<td>{{ feria.fin_feria }}</td>
			<td>{{ feria.horario_ini_feria }}</td>
			<td>{{ feria.horario_fin_feria }}</td>
			<td>{{ feria.dias_feria }}</td>
			<td class="bloque-iconos">
				<a href="http://127.0.0.1:8000/ferias/modificar/{{ feria.id_feria }}" class="icontainer" title="Modificar">
					<i class="fa fa-pencil-square-o icon pen" aria-hidden="true"></i>
				</a>
				<a  class="icontainer" title="Eliminar" onclick="confirmacion()">
					<i class="fa fa-trash icon trash" aria-hidden="true"></i>
					<script type="text/javascript">
						function confirmacion(){
							var respuesta = confirm("¿Estás seguro?");
							if (respuesta == true){
								window.location.href = "http://127.0.0.1:8000/ferias/eliminar/{{ feria.id_feria }}"
							}
						}
					</script>
				</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}